@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif; 
  background-color: #F2F2F2;
  color: #333;
  margin: 0;
  padding: 0; 
}

header{
  background-color: #C62828;
  color: White;
  padding: 2 rem;
  text-align: center;
}

section {
  padding: 2 rem;
}

h1, h2 {
  margin-bottom: 1 rem;
}

footer {
  background-color: #C62828;
  color: white;
  text-align: center;
  padding: 1 rem;
  margin-top: 2 rem; 
}
